
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body  {
    background-color: #f1f1f1;
}

.dark  {
    background-color: #1B2631;
    transition: .3s ease all;
}

.dark nav   {
    background-color: #1B2631;
    transition: .3s ease all;
}

.dark ul li a   {
    color: #fff;
}

.dark .top-social a {
    color: #fff;
}

.dark #top h1    {
    color: #fff;
}

.dark .toggle   {
    color: #fff;
}

.dark .about__description h2  {
  color: #fff;
}

.dark .footer{  
  background-color: #1B2631;
  color: #f1f1f1;
  transition: .3s ease all;
}

.dark .section__title {
  color: #f1f1f1;
}

.dark .about__description{  
  color: #E5E7E9
}

.dark .skill__title {
  color: #E5E7E9
}

.dark .section__subtitle  {
  color: #E5E7E9;
}

.dark .button--cta  {
  background: #17202a;
  color: #F1F1F1
}

.toggle {
    font-size: 60px;
    color: #17202a;
    float: left;
    line-height: 45px;
    margin-left: 20px;
    margin-top: 30px;
    cursor: pointer;
    display: none;    
}

nav {
    background-color: #f1f1f1;
    height: 45px;
    width: 100%;    
    font-family: 'DM Sans', sans-serif;
    position: fixed;
    padding-top: 5px;
    padding-bottom: 55px;
    z-index: 1;
}

ul{
    float: left;
    margin-left: 29%;  
}

.socialtop  {
    float: right;
    margin-right: 5%;    
}

ul li{
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;    
}

ul li a{
    font-size: 13px;
    font-weight: 400;
    line-height: 45px;
    color: #17202a;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;   
    transition: all 0.4s linear; 
    border-radius: 20px;
}

ul li a:hover   {
    background: chartreuse;
}

ul li:hover{
    background-color: #239b56;
    color: #fff;
    border-radius: 20px;
}

.top-social {
    padding: 8px 15px; 
    float: right;  
    font-size: 22px;
    margin-top: -35px;
}

.top-social a       {
    padding: 13px;
    color: #17202a;
}

.top-social a:hover     {
    color: #239b56;
}


.logo  {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}


body > article {
    margin-bottom: 0;
}

.img__header  {
  margin-top: -150px;
  margin-left: 480px;
}

#top {
    padding: 10em 0 10em 0;
    text-align: left;
}

#top .image {
    border-radius: 100%;
    width: 20em;
     height: 20em;
    margin: 0;
}

#top .image img {
     border-radius: 100%;
     text-align: center;
}

#top h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.35em;
    text-align: center;
    padding-top: 15px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.7em;
}

#top h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.35em;
    text-align: center;
    padding-top: 1px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5em;
    color: chartreuse;
}

#top p {
    font-size: 1.5em;
    line-height: 1.75em;
    text-align: center;
    justify-content: center;
}

#top p a {
    color: inherit;
    text-align: center;
}

#top {
     padding: 8em 0;
}

.image-fit  {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main   {
    padding-top: 4rem;
}

.switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    margin-top: 10px;
    transition: all 1s;
  }
  
  .switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 1s;
  }
  
  .switch.active {
    background: orange;
    color: #000;
    transition: all 1s;
  }
  
  .switch.active::after {
    right: 0;
    left: unset;
    transition: all 1s;
  }
  
  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
  }

  .section__title {
    color: #17202a;
    font-family: 'DM Sans', sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
  }
  
  .section__title:after {
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background: chartreuse;
    margin: 10px auto 40px;
  }

  .about__grid {
    font-family: 'DM Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 100px;
    margin-top: -5px;
  }
  
  .about__description {
    font-family: 'DM Sans', sans-serif;
    text-align: left;
    color: #8e8e8e;
    padding-right: 80px;
    line-height: 40px;
  }
  
  .about__summary {
    margin: 30px 0;
  }
  
  .about__description span {
    color: #8e8e8e;
  }
  
  .about__description h2 {
    color: #17202a;
    margin: 20px 0;
  }
  
  .about__skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .skill__title {
    color: #8e8e8e;
    grid-column: span 3;
    text-align: left;
  }
  
  .skill__item {
    background: #AED6F1;
    font-size: 50px;
    color: #1B2631;
    padding: 35px;
    transition: all 0.3s;
    min-width: 130px;
    border-radius: 20px;
  }
  
.fab  {
  margin-left: 30px;
}

.fa-sass {
  margin-left: 25px;
}

.fa-database  {
  margin-left: 28px;
}

.fa-node {
  margin-left: 22px;
}

.fa-react   {
  margin-left: 26px;
}

.fa-css3-alt  {
  margin-left: 33px;
}

  .skill__item:hover {
    color: #f5f5f5;
    transition: all 0.3s;
  }
  
  .skill__name {
    font-size: 16px;
    text-align: center;
  }

  .button--cta {
    background: #f1f1f1;
    border: 2px solid chartreuse;
    color: #191919;
    padding: 5px 30px;
    display: inline-block;
    margin: 20px auto;
    transition: all 0.4s linear; 
    border-radius: 20px;
    margin-left: 130px;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }
  
  .button--cta i {
    margin-right: 10px;
  }
  
.button--cta:hover::before  {
  top: 0px;
  border-radius: 0;
}

.button--cta::before  {
  content: "";
  position: absolute;
  top: 60px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: chartreuse;
  border-radius: 50% 50% 0% 0;
  z-index: -1;
  transition: all 0.5s;
}

  .section__subtitle {
    display: block;
    text-align: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    color: #8e8e8e;
    margin-bottom: 20px;
  }

  .services__grid {
    font-family: 'DM Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 100px;
    margin-top: -5px;
  }
  
  .services__item {
    display: block;
    text-align: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    padding: 20px;
    background: #AED6F1;
    border-bottom: 5px solid transparent;
    transition: border 0.3s;
    border-radius: 20px;
    margin-top: 20px;
  }
  
  .services__item:hover {
    transition: border 0.3s;
    border-bottom: 5px solid #cefe1a;
  }
  
  .services__item:hover i {
    transition: all 0.3s;
    color: #cefe1a;
  }
  
  .services__item i {
    transition: all 0.3s;
    font-size: 40px;
    margin: 20px 0;
    color: #1B2631;
  }
  
  .services__item h3 {
    color: #000;
    margin-bottom: 15px;
  }
  
  .services__item p {
    color: #191919;
  }
  
  .portfolio__grid {
    font-family: 'DM Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 100px;
    margin-top: -80px;
  }
  
  .portfolio__item {
    background: white;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    font-size: 14px;
    border-radius: 20px;
    z-index: 0;
    height: 100%;
  }
  
  .portfolio__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 1s;
    filter: grayscale(1);
  }
  
  .portfolio__description {
    padding: 50px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 300px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .portfolio__item:hover .portfolio__description {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
    transform: translateY(-300px);
  }
  
  .portfolio__item:hover .portfolio__img {
    transition: all 1s;
    transform: scale(1.3);
  }
  
  .portfolio__description--title {
    color: #cefe1a;
    font-size: 1.3em;
  }
  
  .portfolio__description--text {
    margin: 20px 0;
    color: #f1f1f1;
  }
  
  .buttons__container {
    display: flex;
  }
  
  .button {
    border-radius: 20px;
    background: #191919;
    color: #f5f5f5;
    padding: 5px 10px;
    display: inline-block;
    margin: auto;
  }
  
  .button:hover {
    color: #cefe1a;
  }
  
  .contact__grid {
    display: block;
    text-align: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 120px;
    margin: 200px;
    margin-top: -5px;
  }
  
  .contact__item {
    background: #AED6F1;
    color: #1B2631;
    padding: 30px;
    border-radius: 20px;
    transition: all 0.3s;
    margin-top: 20px;
  }

  .contact_item_git {
    background: #424242;
    color: #1B2631;
    padding: 30px;
    border-radius: 20px;
    transition: all 0.3s;
    margin-top: 20px;
  }
  
  .contact_item_git i {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .contact_item_git:hover i {
    color: #f5f5f5;
    transition: all 0.5s;
  }
  
.contact_item_git:hover {
  color: #f5f5f5;
  transition: all 0.5s;
}

.contact_item_lin {
  background: #007BB6;
  color: #1B2631;
  padding: 30px;
  border-radius: 20px;
  transition: all 0.3s;
  margin-top: 20px;
}

.contact_item_lin i {
  font-size: 50px;
  margin-bottom: 10px;
}

.contact_item_lin:hover i {
  color: #f5f5f5;
  transition: all 0.5s;
}

.contact_item_lin:hover {
color: #f5f5f5;
transition: all 0.5s;
}

  .contact__item i {
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .contact__item:hover i {
    color: #f5f5f5;
    transition: all 0.5s;
  }
  
.contact__item:hover {
  color: #f5f5f5;
  transition: all 0.5s;
}
  
.fa-linkedin-in {
  margin-left: 7px;
}

.fa-github{ 
  margin-left: 7px;
}

  .footer {
    color: #17202a;
    background-color: #F1F1F1;
    padding: 30px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
  }
  
  .footer a {
    color: #8e8e8e;
  }
  
  .footer a:hover {
    color: #f5f5f5;
  }

.btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    background-color: black;
    color: chartreuse;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.4s;
}
.btn:hover{
    height: 80px;
}


