@media (max-width: 991px) {


    .toggle     {
        font-size: 60px;
        color: #17202a;
        float: left;
        line-height: 45px;
        margin-left: 20px;
        margin-top: 30px;
        cursor: pointer;
        display: none;    
    }

    .img__header  {
      margin-left: 50px;
      margin-top: -50;
      width: 300px;
      height: 300px;
    }

    .navbar__menu {
      display: flex;
    }
  
    .navbar__links {
      position: absolute;
      width: 100vw;
      height: 100vh;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.97);
      font-size: 30px;
      margin: 0 -20px;
      z-index: 10;
      transform: translateX(100%);
      opacity: 0;
      transition: all 0.5s;
    }
  
    .visible {
      display: flex;
      transform: translateX(0);
      opacity: 1;
      transition: all 0.5s;
    }
  
    .navbar__link {
      padding-left: 0px;
      margin-top: 30px;
    }
  
    section {
      padding: 75px 0;
    }
  
    .home {
      flex-direction: column;
    }
  
    .home__profile {
      margin-bottom: 30px;
      margin-right: 0;
    }
  
    .home__title {
      font-size: 45px;
    }
  
    .home__title--primary,
    .home__title--secondary {
      font-size: 35px;
    }
  
    .img__header  {
      margin-top: -60px;
    }

    .section__title {
      font-size: 25px;
    }
  
    .section__title:after {
      width: 110px;
      height: 3px;
    }
  
    .section__subtitle {
      font-weight: normal;
    }
  
    .about__description {
      padding-right: 0px;
      margin-left: -70px;
    }
  
    .button--cta  {
      margin-left: 50px;
    }

    .about__grid {
      grid-template-columns: 1fr;
    }
  
    .skill__title {
      grid-column: span 4;
    }
  
    .about__skills {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      margin-left: -40px;
    }
  
    .button--cta {
      margin-bottom: 30px;
    }
  
    .services__item {
      padding: 15px;
    }
  
    .services__item h3 {
      margin-bottom: 5px;
    }
  
    .services__grid,
    .portfolio__grid {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }
  
  @media (max-width: 767px) {

    .switch {
      margin-left: 170px;
    }

    .toggle     {
        font-size: 60px;
        color: #17202a;
        float: right;
        line-height: 45px;
        margin-left: 20px;
        margin-top: 30px;
        cursor: pointer;
        display: none;    
    }

    .home__background {
      background-image: url(./assets/bg_responsive.webp);
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }
  
    section {
      padding: 60px 0;
    }
  
    .home__profile {
      margin-bottom: 30px;
    }
  
    .home__title {
      font-size: 30px;
    }
  
    .home__title--primary,
    .home__title--secondary {
      font-size: 25px;
    }
  
    #top  {
      margin-left: 20px;
    }

    .img__header  {
      margin-left: 33px;
    }

    .skill__title {
      grid-column: span 3;
    }
  
    .about__skills {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 25px;
      margin-left: -55px;
    }
  
    .skill__item {
      font-size: 30px;
      padding: 20px;
      min-width: 115px;
      margin-left: -20px;
    }
  
    .button--cta  {
      margin-left: 75px;
    }

    .services__grid,
    .portfolio__grid {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  
  
    .contact__grid {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 25px;
    }
  
    .contact__item{
      padding: 18px;
      border-radius: 10px;
      transition: all 0.3s;
    }

    .contact_item_git {
      padding: 18px;
      border-radius: 10px;
      transition: all 0.3s;
    }

    .contact_item_lin {
      padding: 18px;
      border-radius: 10px;
      transition: all 0.3s;
    }
  }